@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #252525;
  --secondary-color: #ffffff;
  --first-user-color:#6C8E9D;
  --second-user-color:#D3D089;
  --danger-color: #A52A2A;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
h1 {
    margin: 0;
}
input {
    border: none;
    outline: none;
    background-color: none;
    box-shadow: none;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.light {
  background-color: var(--secondary-color);
  color: var(--primary-color);

  .button-option {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  .link-option {
    color: var(--primary-color);
  }
  .link-option:hover {
      color: var(--first-user-color);
  }
  .cell {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  .go-back span {
    color: var(--primary-color);
  }
  .icon {
    color: var(--primary-color);
  }
  .input-form input {
    background-color: var(--secondary-color);
  }
}

.button-option {
    width: 300px;
    height: 67px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    border: 1px solid var(--first-user-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 100;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.button-option:hover {
    border:1px solid var(--second-user-color);
    transition: background-color 0.2s ease-in-out;
}

.input-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.3rem;
}
.input-form input {
    width: 300px;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--first-user-color);
    font-size: 1.2rem;
    color: var(--first-user-color);
    margin-top: 0.5rem;
}
.obrigatory {
    color: var(--danger-color);
    font-size: 1.2rem;
    margin-left: 0.5rem;
    font-weight: 600;
}
.icon {
    width: 24px;
    height: 24px;
    color: var(--secondary-color);
}
